/*************
    Global
*************/

:root{
  --dark-purple:#161023;
  --medium-purple:#543D86;
  --light-purple:#A896CF;
  --dark-orange:#CF7255;



  --white:#ffffff;
}

body{
  font-family: 'Quicksand', sans-serif;
}

h1{
  font-weight:700;
}

i{
  color:var(--white);
}

.jumbotron{
  background-color:transparent;
}

.btn-primary {
  background-color:var(--dark-orange);
  border:none;
}

.card{
  border-radius: 15px;
  border: 2px solid #E1E5EA;
}

.purple-font{
  color:var(--medium-purple);
}

.Key-number{
  font-size:35px;
}

/*************
    Navbar
*************/

.left-nav{
  background-color:var(--dark-purple);
}

.left-nav img{
  width:185px;
}

.left-nav li a,
.left-nav li a:hover{
  color:var(--white);
}

.left-nav li{
  padding:0 8px;
}

.left-nav li:hover{
  background-color:var(--light-purple);
}


/*************
  Animations
*************/

.background-fade{
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

/*************
    Charts
*************/

.dashboard.chart-container{
  bottom:-15px;
}