
.icon-edit:before { content: '\e800'; } /* '' */
.icon-person-add-outline:before { content: '\e800'; } /* '' */
.icon-euro:before { content: '\e801'; } /* '' */
.icon-file-text:before { content: '\e802'; } /* '' */
.icon-filter:before { content: '\e803'; } /* '' */
.icon-gift:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-help-circle:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-log-out:before { content: '\e808'; } /* '' */
.icon-map-pin:before { content: '\e809'; } /* '' */
.icon-party:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-settings:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-circle-plus:before { content: '\e80e'; } /* '' */
.icon-arrow-left-circle:before { content: '\e80f'; } /* '' */
.icon-bar-chart:before { content: '\e810'; } /* '' */
.icon-basketball:before { content: '\e811'; } /* '' */
.icon-briefcase:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-clock:before { content: '\e814'; } /* '' */
.icon-users:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-dot-3:before { content: '\e817'; } /* '' */
.icon-arrow-forward-outline:before { content: '\e818'; } /* '' */
